src/main/mule/new.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2febbd72-e664-4cc4-89a2-4760110b2403" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="newFlow" doc:id="4bedf80d-816a-48c1-8dc4-faf5233468ca" >
		<http:listener doc:name="Listener" doc:id="0b939428-3624-4ea1-aa2a-def7c34c984e" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["hello world..!"]' doc:name="Set Payload" doc:id="4416582d-18a7-4554-bf3d-3b77c65d066b" />
	</flow>
</mule>
